/* Hide the links inside the navigation menu (except for logo/home) */
.is-hidden-mobile {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden-mobile .mobile-menu {
  transform: translate3d(0, -2rem, 0);
  opacity: 0;
}

.mobile-menu__btn {
  position: absolute;
  margin-right: 10px;
  right: 0px;
  background-color: $color-background;
  box-shadow: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 0px;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;

}
.mobile-menu__icon {
  width: 40px;
  height: 40px;
  fill: $color-main;
  &:hover {
    fill: $color-fill;
    color: $color-fill;
  }
}

.mobile-menu {
  text-decoration: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  height: 800px;
  background-color: #ffffff;

  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;

  padding-left: 40px;
  padding-top: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-size: 24px;

  &:hover,
  &:focus {
    color: $color-fill;
    box-shadow: 0px 3px 1px $color-button-hover-shadow1,
      0px 1px 2px $color-button-hover-shadow2,
      0px 2px 2px $color-button-hover-shadow3;
  }
}
/* Style navigation menu links */
.mobile-menu__link {
  display: block;
  color: $color-main;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  &:hover {
    color: $color-fill;
  }
}

.mobile-menu__email {
  display: block;
  margin-top: 32px;

  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: $color-describe;
}

.mobile-menu__phone {
  display: block;
  margin-top: 300px;
  height: 40px;

  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;

  letter-spacing: 0.02em;

  color: $color-fill;
}

.mobile-menu__social-list {
  position: absolute;
  width: 360px;
  height: 25px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding: 0px;
}

.mobile-menu__social_link {
  padding-right: 9px;
  text-decoration: none;
  color: $color-fill;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;
  
}
.mobile-menu__social_item {
  height: 22px;
  &::after {
    content: '';
    position: absolute;
    height: 90%;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }  
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn {
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn {
    display: none;
  }
}

// .icon {
//   background: black;
//   display: block;
//   position: absolute;
//   right: 0;
//   top: 0;
// }
